@charset "UTF-8";


.main{
    position: absolute; 
    left:50%;
    right:50%;
    transform: translate(-50%, -50%);
}
.nonbasket{
 
    margin: 0 auto;
    width: 700px;
    margin-bottom: 50px;
}
.nonbasket img{

    margin: 0 auto;
    width: 700px;
}

.basketbutton {

    margin: 70px auto;
   
    width: 100px;
    height: 50px;
    display: block;
    background-color: black;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 40px;;
    
}

#bsbutton{
    background-color: white;
    color: black;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border: none;

}

#bsbutton:hover{
    background-color:black;
    color:white
}